.auth-button {
  // background-color: #f0f;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #ccc;
    cursor: pointer;
  }

  h5 {
    margin-bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
